*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Start*/

header{
    width: 100%;
    background-color: rgba(23, 23, 23, 0.15);
    padding: 20px;
    position: absolute;
    top: 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: auto;
}

header a{
    text-decoration: none;
    margin-right: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
}

/* Header End*/

/* Banner Start*/

.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(21, 142, 163, 0.336),rgba(14, 90, 104)),url('https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.left-section{
    width: 600px;
    align-self: flex-start;
}

.left-section h1{
    margin: 0;
    font-size: 40px;
    color: #fff;
}

.left-section p{
    margin: 0;
    font-size: 14px;
    color: #fff;
    margin-top: 18px;
    line-height: 28px;
}

.left-section button{
    color: rgb(84, 184, 202);
    background-color: #fff;
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 6px;
    cursor: pointer;
}

.right-section{
    width: 400px;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 0;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.37);
}

.right-section h4{
    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(71, 71, 71);
}

.input-group{
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-group label{
    color: rgb(80, 80, 80);
    font-size: 14px;
    position: absolute;
    top: 10px;
    transition: 0.5s ease-in-out;
}

.input-group input{
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    color: rgb(84, 184, 202);
    border-bottom: 1px solid rgb(128, 125, 125)
}

.input-group input:focus ~ label,
.input-group input:valid ~ label{
    color: rgb(84, 184, 202);
    top: -10px;
    font-size: 12px;
}

.input-group input:focus,
.input-group input:valid{
    border-color: rgb(84, 184, 202);
}

.submit-section{
    text-align: center;
}

.submit-button{
    background-color: rgb(84, 184, 202);
    color: #fff;
    border: none;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
}

.submit-button:hover{
    box-shadow: 0 3px 6px silver;
}
/* Banner End*/

/* Section Two Start*/

.section-two{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.card-container{
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 5px 26px rgb(126, 125, 125);
    overflow: hidden;
    text-align: center;
}

.card-container h1{
    color: rgb(136,136,136)
}

.image-container{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.image-container img:hover{
    transform: scale(1.1) rotate(-5deg);
}

/* Section Two End*/

footer{
    text-align: center;
    color: rgb(90, 89, 89);
    padding: 15px;
}

footer span{
    color: rgb(84, 184, 202);
    font-weight: bold;
}